h1{
    font-size: 6rem;
    font-weight: 600;
}
header{
    background-color: orangered;
    color: white;
}
@media screen and (max-width:425px){
    h1{
        font-size: 2rem;
    }
}
footer{
    background-color: black;
}

.card-img-top {
    width: 100%;
    height: 200px; /* Adjust height as necessary */
    object-fit: cover;
}